.background {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -1;
  }
  #wrapper {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login {
    max-width: 656px;
    max-height: 564px;
    background-color: #ffffff;
    padding: 40px 64px 40px 64px;
    border-radius: 4px;
    z-index: 2;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #554766;
  }
  .logo1 {
    width: 156px;
    height: 44px;
    padding-left: 200px;
  }
  /* h1 {
    width: 352px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000;
    margin-left: 18%;
  } */
  
  input {
    font-family: "Google Sans";
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
    width: 528px;
    height: 48px;
    border: 1px solid #cac1d8;
    border-radius: 4px;
  }
  
  input:focus {
    border: 2px solid #554766;
    outline: none;
  }
  
  button {
    font-family: "Google Sans";
    justify-content: center;
    align-items: center;
    width: 528px;
    height: 56px;
    background: #9453ff;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
  }
  .btn-wrapper {
    display: flex;
    gap: 10px;
  }
  .submit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  
  .layout_background {
    background-color: #140b25;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0.5;
  }
  .checkbox {
    color: #9387a8;
    height: 15px;
    width: 15px;
  }
  
  .input-checkbox {
    display: flex;
    gap: 10px;
  }
  
  .term_policy span {
    font-weight: 700;
  }
  
  .term_policy {
    font-weight: 400;
  }
  
  .disabled-btn {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .lds-ring {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    top: 10%
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .change-to-signIn {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }